/* CSS by Alex MAcias */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/*CSS reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skipLink{
  color:var(--watchdog-white);
  background-color: var(--news-flash);

  padding: 0.5rem;

  position:absolute;
  left: -1000px;
}

.skipLink:focus{
  left: 0;
  transition: var(--transition);
}

/* ///ADD/// Navigation Styles */
.largeNav{
  display:none;
}

nav a{
  color:var(--watchdog-white);
  background-color: var(--news-flash);
  text-decoration:none;

  width:100%;
}

.menu-button{
  color:var(--watchdog-white); 
  background-color: var(--news-flash);
  display:block;
  width:93.75%;
  margin-right: 1rem;
  justify-self: center;
  text-align: center;
  padding: 0.5rem;
}

.mobile-nav{
  position:relative;

  /*applied z index only to the things that were clipping behind other objects hopefully this fixes it*/
  z-index: 100;
}

.mobile-nav ul{
  list-style-type:none;
  padding:0;
}

.mobile-nav li{
  text-decoration:none;
}

.mobile-nav a{
  display:block;
  width:93.75%;
  margin-right: 1rem;
  justify-self: center;
  text-align: center;
  padding: 0.5rem;
  border: var(--blue-bulletin) 1px solid;

}


/* ///ADD/// Global Layout Styles */
header{
  color:var(--watchdog-white);
  background-color: var(--blue-bulletin);

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  height:17.5vh;

  /*nav menu was showing up behind text in the mian body, i think its a z layering issue*/
  
}

main{
  padding-left: 2rem;
  padding-right: 2rem;
}

footer{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  margin-top: 1rem;

  display:grid;
  grid-template-columns: 1fr;
}

.breakingNews{
  color:var(--watchdog-white);
  background-color: var(--news-flash);
  padding: 1rem;
  margin-bottom: 1rem;
  margin: 0.5rem;
  box-shadow: var(--shadow);
}

.breakingNews h3{
  border-bottom: 1px solid var(--watchdog-white);
}

#featured-articles div{
  border: 2px solid var(--story-subtitle);
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-shadow: var(--shadow);
  margin:.5rem;
}

#featured-articles h3{
  border-bottom: 1px solid var(--story-subtitle);
}


form{
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  margin:.5rem;
  padding: 1rem;
}

footer a{
  color: var(--watchdog-white);
  text-decoration:none;
  background-color: var(--news-flash);
  padding:.5rem;
  text-transform:uppercase;
  border: var(--news-flash) 1px solid;
}

.socialLinks{
  display:grid;
  grid-template-columns: repeat(4, auto);
  column-gap: .5rem;
  row-gap: 1rem;
  justify-items: left;
  align-items: left;

}

footer small{
  justify-self: center;
}

fieldset{
  padding: 1rem;
  margin:.5rem;
  border-color: var(--blue-bulletin);
}

legend {
  text-transform:uppercase;
}

#submit {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  box-shadow: var(--shadow);
  text-transform:uppercase;

  width:100%;
}

.formInput {
  width: 93.75%;
  margin: 1rem;
}

.formInput input {
  width: 100%;
  margin-bottom: 1rem;
}

#featured-articles div:hover{
  transform: scale(1.01);
  transition: var(--transition);
  cursor: pointer;
}

#breaking-news div:hover{
  transform: scale(1.01);
  transition: var(--transition);
  cursor: pointer;
}

a:hover{
  background-color: var(--blue-bulletin);
  cursor: pointer;
}

#submit:hover{
  background-color: var(--watchdog-white);
  border-color: var(--blue-bulletin);
  color: var(--blue-bulletin);
  cursor: pointer;
}


fieldset input[type="checkbox"] {
  accent-color:var(--blue-bulletin);
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ///ADD/// Global Text Styles */
blockquote{
  font-weight: 600;
  padding-left: 1rem;
  margin-left: 0;
  margin-right: 0;
  justify-self: center;
}

/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {

  /*Nav Menu stylings*/
  .largeNav{
    display:block;
  }
  .mobile-nav{
    display:none;
  }

  .menu-button{
    display:none;
  }

  .largeNav ul{
    list-style-type:none;
    padding:0;
    display:grid;
    grid-template-columns: repeat(4, auto);
    justify-content: left;
  }

  .largeNav li{
    text-decoration:none;
  }

  .largeNav a{
    display:grid;
    width:auto;
    margin-right: 1rem;
    justify-self: center;
    text-align: center;
    padding: 0.5rem;
    border: var(--blue-bulletin) 1px solid;

  }

  /*Breaking news stylings*/
  .newsContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em
  }

  
}

/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {

}

/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px) {

}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  .menu{
    display:none;
  }

  /* :has(#menu-toggle:checked) acts as a condition for the disaply:block to trigger with its default being hidden*/
  .mobile-nav:has(#menu-toggle:checked) .menu{
    display:block;
  }
}